<div class="content-wrapper">
    <div class="text-center">

        <section class="content-header">

            <div class="container-fluid">
                <div class="row mb-12">
                    <div class="col-sm-12">
                        <h1>Edit User</h1>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Edit</h3>
                </div>

                <form [formGroup]="form" (submit)="onSaveUser()">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nick</label>
                            <input type="text" class="form-control" formControlName="nick" placeholder="Enter nick">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" formControlName="status">
                                        <option value="1">Active</option>
                                        <option value="2">Off</option>
                                        <option value="3">Pending approval</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>League</label>
                                    <select class="form-control" formControlName="league">
                                        <option *ngFor="let league of leagues" value={{league.id}}>{{league.title}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
              <label for="exampleInputFile">File input</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile">
                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text">Upload</span>
                </div>
              </div>
            </div> -->

                    </div>


                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>