<div class="content-wrapper">
    <div class="d-flex justify-content-center" *ngIf="isLoading">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    </div>
    <div class="col-md-12" *ngIf="!isLoading">
        <!-- Application buttons -->
        <div class="text-center">
            <h1>Leagues Management</h1>


            <!-- /.card-header -->
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Content</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of leagues1">
                                        <td>{{l.title}}</td>
                                        <td>{{l.content}}</td>
                                        <td *ngIf="l.type == 1">League</td>
                                        <td *ngIf="l.type == 2">Cup</td>
                                        <td *ngIf="l.status == 1">Open</td>
                                        <td *ngIf="l.status == 2">Not Ready</td>
                                        <!-- <td class="text-right py-0 align-middle"> -->
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <a class="btn btn-primary"
                                                    [routerLink]="['/home/leagues-management', l.id]"><i
                                                        class="fas fa-edit"></i></a>
                                                <a class="btn btn-primary" (click)="notReady()"><i
                                                        class="fas fa-edit"></i></a>
                                                <a class="btn btn-info" (click)="notReady()"><i
                                                        class="fas fa-eye"></i></a>
                                                <a class="btn btn-danger" (click)="notReady()"><i
                                                        class="fas fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>